{installer-nav}
<br>
<br>
<p>The Tempus Project uses rewrites in htaccess files (apache), or location directives (nginx), to automatically route all incoming traffic through the app. In this step, we will help set-up and then test that the required configurations have been made.</p>
<h3>Apache Users</h3>
<p>In this step, we will attempt to generate the appropriate files for Apache servers.</p>
<h3>Nginx Users</h3>
<p>If you are using Nginx, you will need to update your server's configuration manually. Please see the documentation, for convenience, an example configuration has been provided with TheTempusProject and can be found in the app/resources directory.</p>
<br>
<br>
<form action="" method="post" class="form-horizontal">
    <input type="hidden" name="token" value="{TOKEN}">
    <button class="btn btn-lg btn-primary center-block" type="submit" name="submit" value="submit">Generate</button><br>
</form>