<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="bg-primary slide-text-bg carousel-caption main-text">
                        <div class="center-block">
                            <h1>The Tempus Project</h1>
                            <h3>PHP powered web application for rapid prototyping</h3>
                        </div>
                    </div>
                    <div class="item active">
                        <img src="{ROOT_URL}app/images/ttp.png" alt="First slide">
                        <div class="carousel-caption bg-primary slide-text-bg">
                            <h3>Powerful</h3>
                            <p>The Tempus Project is built with expansion in mind. From a custom template engine to the simple to use MVC style, The Tempus Project is built to provide a powerful and stable foundation for web applications.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{ROOT_URL}app/images/ttp-install.png" alt="Second slide">
                        <div class="carousel-caption bg-primary slide-text-bg">
                            <h3>Quick and Simple Installation</h3>
                            <p>Built with rapid deployment in mind you can have The Tempus Project installed in just minutes.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{ROOT_URL}app/images/ttp-github.png" alt="Third slide">
                        <div class="carousel-caption bg-primary slide-text-bg">
                            <h3>Open Source</h3>
                            <p>The Tempus Project is completely open source and only utilizes other open-source components. The Project is provided under thee MIT license.</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-centered">
            <!-- <hr>
            {POSTS}
            <hr> -->
            <div class="well">
                <p>This is the home of The Tempus Project, a web application and framework built on php. The Tempus Project is designed to be easily installed, managed, and expanded, but the most important feature is the expandability.</p>
                <p>You can easily utilize existing functionality to build your own custom website. The application is written in a way that allows you to very easily add functionality. So if you can think of it, you can easily build it into the existing framework. Whether you're an Industry pro, a freelancer, or even a novice the aim of the project is to help you build powerful customized websites.</p>
                <p>What we are trying to provide is a veritable crash course in web development centered around this framework. Regardless of you skill level or prior knowledge, the goal is to help you start building web applications.</p>
                <p>Currently the crash course is still being built and tested but we already have guides available for <a href="{ROOT_URL}documentation/gettingStarted">How to Setup a Web Server</a> and <a href="{ROOT_URL}documentation/installation">How to Install The Tempus Project</a>. The public documentation is expanding daily and we are accepting users for the first round when the crash course is completed. You can find more information at <a href="{ROOT_URL}home/crashcourse">Crash Course Signup</a>.</p>
                <p>Help us create a collaborative environment where you can learn how to create and manage your own websites. If you would like to receive updates as we release more information, please <a href="{ROOT_URL}home/subscribe">subscribe</a>. If you have any questions please don't hesitate to reach out to us on social media, links are below.</p>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 25px;">
            {tweets}
        </div> -->
    </div>
</div>
