<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li><a href="{ROOT_URL}admin"><i class="fa fa-fw fa-home"></i> Home</a></li>
        <li><a href="{ROOT_URL}admin/settings"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
        <li><a href="{ROOT_URL}admin/installed"><i class="fa fa-fw fa-database"></i> Models</a></li>
        <li><a href="{ROOT_URL}admin/dependencies"><i class="fa fa-fw fa-database"></i> Dependencies</a></li>
        <li><a href="{ROOT_URL}admin/tickets"><i class="fa fa-fw fa-ticket"></i> Tickets</a></li>
        <li><a href="{ROOT_URL}admin/blog"><i class="fa fa-fw fa-file-text"></i> Blog</a></li>
        <li><a href="{ROOT_URL}admin/comments"><i class="fa fa-fw fa-comment"></i> Comments</a></li>
        <li><a href="{ROOT_URL}admin/users"><i class="fa fa-fw fa-user"></i> Users</a></li>
        <li><a href="{ROOT_URL}admin/groups"><i class="fa fa-fw fa-group"></i> Groups</a></li>
        <li><a href="{ROOT_URL}admin/feedback"><i class="fa fa-fw fa-support"></i> Feedback</a></li>
        <li><a href="{ROOT_URL}admin/bugreports"><i class="fa fa-fw fa-bug"></i> Bug Reports</a></li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo">
                <i class="fa fa-fw fa-arrows-v"></i> Logs <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="demo" class="collapse">
                <li><a href="{ROOT_URL}admin/logs"><i class="fa fa-fw fa-file"></i> Logs</a></li>
                <li><a href="{ROOT_URL}admin/admin"><i class="fa fa-fw fa-lock"></i> Admin</a></li>
                <li><a href="{ROOT_URL}admin/errors"><i class="fa fa-fw fa-warning"></i> Errors</a></li>
                <li><a href="{ROOT_URL}admin/logins"><i class="fa fa-fw fa-history"></i> Logins</a></li>
            </ul>
        </li>
        <li><a href="{ROOT_URL}admin/subscriptions"><i class="fa fa-fw fa-address-book"></i> Subscriptions</a></li>
        <li><a href="{ROOT_URL}admin/contact"><i class="fa fa-fw fa-reply-all"></i> Contact</a></li>
    </ul>
</div>