<ul class="nav navbar-nav">
    <li><a href="{ROOT_URL}home/index">Home</a></li>
    <li><a href="{ROOT_URL}blog/index">Blog</a></li>
    <li><a href="{ROOT_URL}home/downloads">Downloads</a></li>
    <li><a href="{ROOT_URL}documentation/index">Documentation</a></li>
    {MEMBER}<li><a href="{ROOT_URL}member">Member</a></li>{/MEMBER}
    {MOD}<li><a href="{ROOT_URL}moderator/index">Moderator</a></li>{/MOD}
    {ADMIN}<li><a href="{ROOT_URL}admin/index">Admin</a></li>{/ADMIN}
    {MEMBER}<li><a href="{ROOT_URL}wyr/index">WYR</a></li>{/MEMBER}
</ul>